td, th {
    text-align: center; 
    vertical-align: middle;
}

input {
    width: 25%;
}

.inline {
    display: inline;
}

button {
    margin-left: 10px;
    color: white;
}

#toolbar {
    background-color: #0066ff;
    height: 50px; 
}