td, th {
    text-align: center; 
    vertical-align: middle;
}

input {
    width: 25%;
}

.inline {
    display: inline;
}

table { 
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

button {
    margin-left: 10px;
}