<div class="header close">
 
    <button mat-icon-button [mat-dialog-close]="data" (click)="onclose()">
        <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.name" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.OS" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.internalMemory" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.RAM" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.processor" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.SIM" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.SIMSlots" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.display" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.displayResolution" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.displayDimensions" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.dimensions" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.mainCamera" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.frontalCamera" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.battery" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.price" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.inStock" placeholder="name">
  </div>
  
  
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial class=button>
        {{data?.confirmText}}
    </button>
  </div>

