<div class="header float-end">
 
    <button mat-icon-button mat-dialog-close="false">
        <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div class="header">
    <h2 mat-dialog-title>{{data?.title}}</h2>
  </div>
  
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.name" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.OS" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.internalMemory" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.RAM" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.processor" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.SIM" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.SIMSlots" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.display" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.displayResolution" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.displayDimensions" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.dimensions" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.mainCamera" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.frontalCamera" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.battery" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.price" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.inStock" readonly>
  </div>