<div id="content-wrapper">
		

  <div class="column">
    <img id=featured [src]="featuredImage.src">
      <div id="slider">
        <img *ngFor="let image of images" class="{{image.classes.join(' ')}}" [src]="image.src" (click)="onImageClick(image)">
      </div>
  </div>

  <div class="column">  
    <h1>{{productDetails.name}}</h1>
    <hr>
    <h3>{{productDetails.price}} Ron</h3>
   <p>We do not take responsability for any kind of damage that the product have. They are tested at the purchase time and ensured perfect condition. Any kind of compensation for damaged goods will not be provided</p>

    <button class="button addButton" mat-raised-button color="primary" (click)="addToCart()">Add to cart</button>
    <button class="button" mat-raised-button color="accent" (click)="openEditDialog()">Edit</button>
    <button class="button" mat-raised-button color="warn" (click)="openDeleteDialog()">Delete</button>
    

  
  </div>

</div>




<div>
  <div class="container mt-5 ">   
    <table mat-table class="table table-striped">
      <thead class="thead-dark">
          <tr>
        
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{productDetails.name}}</td>     
        </tr>
        <tr>
          <td>OS</td>
          <td>{{productDetails.OS}}</td>     
        </tr>
        <tr>
          <td>internalMemory</td>
          <td>{{productDetails.internalMemory}}</td>     
        </tr>
        <tr>
          <td>RAM</td>
          <td>{{productDetails.RAM}}</td>     
        </tr>
        <tr>
          <td>processor</td>
          <td>{{productDetails.processor}}</td>     
        </tr>
        <tr>
          <td>SIM</td>
          <td>{{productDetails.SIM}}</td>     
        </tr>
        <tr>
          <td>SIMSlots</td>
          <td>{{productDetails.SIMSlots}}</td>     
        </tr>
        <tr>
          <td>display</td>
          <td>{{productDetails.display}}</td>     
        </tr>
        <tr>
          <td>displayResolution</td>
          <td>{{productDetails.displayResolution}}</td>     
        </tr>
        <tr>
          <td>displayDimensions</td>
          <td>{{productDetails.displayDimensions}}</td>     
        </tr>
        <tr>
          <td>dimensions</td>
          <td>{{productDetails.dimensions}}</td>     
        </tr>
        <tr>
          <td>mainCamera</td>
          <td>{{productDetails.mainCamera}}</td>     
        </tr>
        <tr>
          <td>frontalCamera</td>
          <td>{{productDetails.frontalCamera}}</td>     
        </tr>
        <tr>
          <td>battery</td>
          <td>{{productDetails.battery}}</td>     
        </tr>
        <tr>
          <td>price</td>
          <td>{{productDetails.price}}</td>     
        </tr>
        <tr>
          <td>inStock</td>
          <td>{{productDetails.inStock}}</td>     
        </tr>
      </tbody>
    </table>
  </div>
</div>

  



