<div id="content-wrapper">
		

  <div class="column">
    <img id=featured [src]="featuredImage.src">
      <div id="slider">
        <img *ngFor="let image of images" class="{{image.classes.join(' ')}}" [src]="image.src" (click)="onImageClick(image)">
      </div>
  </div>

  <div class="column">  
    <h1>{{productDetails.name}}</h1>
    <hr>
    <h3>{{productDetails.price}} Ron</h3>
   <p>We do not take responsability for any kind of damage that the product have. They are tested at the purchase time and ensured perfect condition. Any kind of compensation for damaged goods will not be provided</p>

    <button class="button addButton" mat-raised-button color="primary" (click)="addToCart()">Add to cart</button>
    <button class="button" mat-raised-button color="accent" (click)="openEditDialog()" *ngIf="role == 'admin'">Edit</button>
    <button class="button" mat-raised-button color="warn" (click)="openDeleteDialog()" *ngIf="role == 'admin'">Delete</button>
  </div>

</div>
<div class="alert" [class.visible]="isVisible" *ngIf="outOfStock"> 
  Product is not available
</div>
<div class="alert" style="background: green" [class.visible]="isVisible" *ngIf="addedToCart"> 
  Product added to cart
</div>




<div>
  <div class="container mt-5 ">   
    <table mat-table class="table table-striped">
      <thead class="thead-dark">
          <tr>
        
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{productDetails.name}}</td>     
        </tr>
        <tr>
          <td>Operating System</td>
          <td>{{productDetails.OS}}</td>     
        </tr>
        <tr>
          <td>Internal Memory</td>
          <td>{{productDetails.internalMemory}}</td>     
        </tr>
        <tr>
          <td>RAM</td>
          <td>{{productDetails.RAM}}</td>     
        </tr>
        <tr>
          <td>Processor</td>
          <td>{{productDetails.processor}}</td>     
        </tr>
        <tr>
          <td>SIM</td>
          <td>{{productDetails.SIM}}</td>     
        </tr>
        <tr>
          <td>SIM Slots</td>
          <td>{{productDetails.SIMSlots}}</td>     
        </tr>
        <tr>
          <td>Display</td>
          <td>{{productDetails.display}}</td>     
        </tr>
        <tr>
          <td>Display Resolution</td>
          <td>{{productDetails.displayResolution}}</td>     
        </tr>
        <tr>
          <td>Display Dimensions</td>
          <td>{{productDetails.displayDimensions}}</td>     
        </tr>
        <tr>
          <td>Dimensions</td>
          <td>{{productDetails.dimensions}}</td>     
        </tr>
        <tr>
          <td>Camera</td>
          <td>{{productDetails.mainCamera}}</td>     
        </tr>
        <tr>
          <td>Frontal Camera</td>
          <td>{{productDetails.frontalCamera}}</td>     
        </tr>
        <tr>
          <td>Battery capacity</td>
          <td>{{productDetails.battery}}</td>     
        </tr>
        <tr>
          <td>Price</td>
          <td>{{productDetails.price}}</td>     
        </tr>
        <tr>
          <td>In Stock</td>
          <td>{{productDetails.inStock}}</td>     
        </tr>
      </tbody>
    </table>
  </div>
</div>

  



