<div class="header float-end">
 
    <button mat-icon-button mat-dialog-close="false">
        <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div class="header">
    <h2 mat-dialog-title>{{data?.title}}</h2>
  </div>
  
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.name" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.value" readonly>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.description" readonly>
  </div>