<!-- <div class="container mt-5">
    <div class="inline">
      <input type="text" class="form-control inline" placeholder="Search..." [(ngModel)]="filterTerm">
      <button class="button" mat-raised-button color="primary" (click) ="openCreateDialog()">New Location</button>
    </div>
      
    <table mat-table class="table table-striped">
      <thead class="thead-dark">
          <tr>
            <th>cretedBy</th>
            <th>products</th>
            <th>price</th>
            <th>county</th>
            <th>town</th>
            <th>address</th>
            <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records | filter: filterTerm | paginate: { itemsPerPage:10, currentPage: page}">
          <td>{{ record.createdBy }}</td>
          <td>{{ record.products }}</td>
          <td>{{ record.price }}</td>
          <td>{{ record.county }}</td>
          <td>{{ record.town }}</td>
          <td>{{ record.address }}</td>
          <td>
            <button class="button" mat-raised-button color="warn" (click)="openDeleteDialog(record)">Delete</button>
            <button class="button" mat-raised-button color="primary" (click)="openEditDialog(record)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="d-flex justify-content-center">
      <pagination-controls 
        previousLabel="Prev" 
        nextLabel="Next" 
        (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
   -->

   <div class="container mt-5">
    <div class="inline">
      <input type="text" class="form-control inline" placeholder="Search..." [(ngModel)]="filterTerm">
      <button class="button" mat-raised-button color="primary" (click) ="openCreateDialog()">New Order</button>
    </div>
    <div class="order-list">
      <div class="order-container" *ngFor="let record of records | filter: filterTerm">
        <h5>comanda {{record._id}}</h5>
        <p>Plasata pe {{record.date}}</p>
        <p>Total: {{record.price}}</p>
        <button class="button" mat-raised-button color="primary" (click) ="redirectToOrder(record._id)">Details</button>
        <button class="button" mat-raised-button color="warn" (click) ="openDeleteDialog(record)">Delete</button>
      </div>
    </div>
   </div>