   <div class="container mt-5">
    <div class="inline">
      <input type="text" class="form-control inline" placeholder="Search..." [(ngModel)]="filterTerm">
    </div>
    <div class="order-list">
      <div class="order-container" *ngFor="let record of records | filter: filterTerm">
        <h5>comanda {{record._id}}</h5>
        <p>Plasata pe {{record.date}}</p>
        <p>Status: {{record.status}}</p>
        <p>Total: {{record.price}}</p>
        <button class="button" mat-raised-button color="primary" (click) ="redirectToOrder(record._id)">Details</button>
        <button class="button" mat-raised-button color="warn" (click) ="cancelOrder(record)" >Cancel</button>
        <button class="button" mat-raised-button color="accent" (click) ="openDeleteDialog(record)" *ngIf="role == 'admin'">Delete</button>
      </div>
    </div>
   </div>