
td, th {
    text-align: center; 
    vertical-align: middle;
}

input {
    width: 25%;
}

.inline {
    display: inline;
    margin-bottom: 15px;
}

table { 
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

button {
    margin-left: 10px;
    height: auto
}


img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.order-image {
    width: 200x;
    height: 200px;  
    display: inline-block;
    border: black; 
    border-style: solid; 
    

    
}

.order-details {

    width: 350px;
    height: 200pxs;
    display: inline-block;

  
    
}


.order-container{
    width: 800px;
    height: 220px;
    border: black;
    border-style: solid;
    margin-bottom: 5px;
    padding: 10px;
 
}


.order-list {
    width: 800px;
}

.shop {
    border: blue; 
    border-style: solid;
    height: 200px;
    width: 400px;
}

.inline {
    display: flex;
}



.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}