<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="name" placeholder="Full Name" [(ngModel)]="registerModel.name" #name="ngModel" required>
                    <input type="text" name="phoneNumber" placeholder="Phone Number" [(ngModel)]="registerModel.phoneNumber" #name="ngModel" #phoneNumber required>
					<input type="email" name="email" placeholder="Email" [(ngModel)]="registerModel.email" #name="ngModel" #email required>
					<input type="password" name="password" placeholder="Password" [(ngModel)]="registerModel.password" #name="ngModel" #password required>
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="registerModel.confirmPassword" #name="ngModel" #confirmPassword required>
					<button type="submit" (click)="register()">Sign up</button>
				</form>
			</div>
			<div class="alert" [class.visible]="isVisible" *ngIf="allFieldsRequired"> 
				All fields required
			</div>
			<div class="alert" [class.visible]="isVisible" *ngIf="invalidEmail"> 
				Email is not valid
			</div>
			<div class="alert" [class.visible]="isVisible" *ngIf="passwordsDontMatch"> 
				Passwords not matching
			</div>
			<div class="alert" [class.visible]="isVisible" *ngIf="emailAlreadyUsed"> 
				User already exists
			</div>
			<div class="alert" style="background: green" [class.visible]="isVisible" *ngIf="registerSuccessfully"> 
				User successfully registered
			</div>
			
			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" [(ngModel)]="loginModel.email" #name="ngModel" #email required>
					<input type="password" name="pswd" placeholder="Password" [(ngModel)]="loginModel.password" #name="ngModel" #password required>
					<button (click)="login()">Login</button>
					<p (click)="changePassword()">Forgotten password?</p>
				</form>
			</div>
			<div class="alert" [class.visible]="isVisible" *ngIf="wrongCredentials"> 
				Incorect password or email
			</div>
			<div class="alert" [class.visible]="isVisible" *ngIf="noSuchUser"> 
				No user with this email
			</div>
			<div class="alert" style="background: green" [class.visible]="isVisible" *ngIf="passwordChanged"> 
				New password generated
			</div>
	</div>
</body>
</html>