<div class="header float-end">
 
    <button mat-icon-button [mat-dialog-close]="data" (click)="onclose()">
        <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div class="header">
    <h2 mat-dialog-title>{{data?.title}}</h2>
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.bank">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.cardNumber">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.expirationMonth">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.expirationYear">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.securityCode">
  </div>
 
  <div mat-dialog-actions class="float-end">
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>
        {{data?.confirmText}}
    </button>
  </div>