<!-- <div class="container mt-5">
    <div class="inline">
      <input type="text" class="form-control inline" placeholder="Search..." [(ngModel)]="filterTerm">
      <button class="button" mat-raised-button color="primary" (click) ="openCreateDialog()">New Order</button>
    </div>
      
    <table mat-table class="table table-striped">
      <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>OS</th>
            <th>Price</th>
            <th>In Stock</th>
            <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records | filter: filterTerm | paginate: { itemsPerPage:10, currentPage: page}">
          <td>{{ record.name }}</td>
          <td>{{ record.OS }}</td>
          <td>{{ record.price }}</td>
          <td>{{ record.inStock }}</td>
          <td>
            <button class="button" mat-raised-button color="warn" (click)="openDeleteDialog(record)">Delete</button>
            <button class="button" mat-raised-button color="primary" (click)="openEditDialog(record)">Edit</button>
            <button class="button" mat-raised-button color="secondary" (click)="openPreviewDialog(record)">Preview</button>
          </td>
          </tr>
      </tbody>
    </table>
  </div>
    <div class="d-flex justify-content-center">
      <pagination-controls 
        previousLabel="Prev" 
        nextLabel="Next" 
        (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div> -->
<div class="container mt-5">
    <div class="inline">
      <input type="text" class="form-control inline" placeholder="Search..." [(ngModel)]="filterTerm">
      <button class="button" mat-raised-button color="primary" (click) ="openCreateDialog()">New Order</button>
    </div>
  <div class="product-list">
    <div class="product-container" *ngFor="let record of records | filter: filterTerm">
      <div class="product-image">
        <img [src]="'http://localhost:3001/static/back.webp'" class="image">
      </div>
      <div class="inline">
        <div class="product-details"  [routerLink]="['/products/'+record._id]" routerLinkActive="active">
          <h5 >{{record.name}} {{ record.OS }} {{record.RAM}} {{record.internalMemory}} {{record.processor}}</h5>
        </div>
        <p *ngIf="record.inStock > 0">In stoc {{record.inStock}}</p>
          <p *ngIf="record.inStock == 0">Sold out</p>
        {{record.price}} Ron
        <button class="button" mat-raised-button color="primary" (click)="addToCart(record)">Add</button>

      </div>
    </div>
  </div>
</div>
  