td, th {
    text-align: center; 
    vertical-align: middle;
}

input {
    width: 25%;
}

.inline {
    display: inline;
}

table { 
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

button {
    margin-left: 10px;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.product-image {
    width: 250px;
    height: 250px;
    /* border: black; */
    /* border-style: solid; */
}

.product-details {
    /* border: yellow;  */
    /* border-style: solid; */
    width: 250px;
    height: 80px;
    display: block;
    overflow: auto;
}


.product-container{
    width: 250px;
    /* height: 300px; */
    position: relative;
    float: left;
    margin: 30px 20px;
    

}


.product-list {
    margin-left: 70px;
    /* border: blue; */
    /* border-style: solid; */
}

