<div class="container mt-5">
    <div class="inline">
      <input type="text" class="form-control inline" placeholder="Search..." [(ngModel)]="filterTerm">
      <button class="button" mat-raised-button color="primary" (click) ="openCreateDialog()" *ngIf="role == 'admin'">New Product</button>
    </div>
  <div class="product-list">
    <div class="product-container" *ngFor="let record of records | filter: filterTerm">
      <div class="product-image">
        <img [src]="'http://localhost:3001/static/' + record.name + '_front.webp'" class="image">
      </div>
      <div class="inline">
        <div class="product-details"  [routerLink]="['/products/'+record._id]" routerLinkActive="active">
          <h5 >{{record.name}} {{record.OS}} {{record.RAM}} {{record.internalMemory}} {{record.processor}}</h5>
        </div>
        <p *ngIf="record.inStock > 0">In stock {{record.inStock}}</p>
        <p *ngIf="record.inStock == 0">Sold out</p>
        {{record.price}} Ron
        <button class="button" mat-raised-button color="primary" (click)="addToCart(record)">Add to cart</button>
      </div>
    </div>
  </div>
</div>
<div class="alert" [class.visible]="isVisible" *ngIf="outOfStock"> 
  Product is not available
</div>
<div class="alert" style="background: green" [class.visible]="isVisible" *ngIf="addedToCart"> 
  Product added to cart
</div>
  