<div class="header float-end">
 
    <button mat-icon-button [mat-dialog-close]="data" (click)="onclose()">
        <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div class="header">
    <h2 mat-dialog-title>{{data?.title}}</h2>
  </div>

  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.name" placeholder="name">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.OS" placeholder="OS">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.internalMemory" placeholder="internalMemory">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.RAM" placeholder="RAM">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.processor" placeholder="processor">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.SIM" placeholder="SIM">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.SIMSlots" placeholder="SIMSlots">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.display" placeholder="display">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.displayResolution" placeholder="displayResolution">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.displayDimensions" placeholder="displayDimensions">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.dimensions" placeholder="dimensions">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.mainCamera" placeholder="mainCamera">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.frontalCamera" placeholder="frontalCamera">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.battery" placeholder="battery">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.price" placeholder="price">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.inStock" placeholder="inStock">
  </div>
 
  <div mat-dialog-actions class="float-end">
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>
        {{data?.confirmText}}
    </button>
  </div>