<div class="center">
  <div class="header close">
 
    <button mat-icon-button [mat-dialog-close]="data" (click)="onclose()">
        <mat-icon>close</mat-icon>
    </button>
  </div>


  <div mat-dialog-content >
    <input matInput [(ngModel)]="data.name" placeholder="Name" >
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.OS" placeholder="Operating System">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.internalMemory" placeholder="Internal Memory">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.RAM" placeholder="RAM">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.processor" placeholder="Processor">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.SIM" placeholder="SIM">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.SIMSlots" placeholder="SIM Slots">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.display" placeholder="Display">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.displayResolution" placeholder="Display Resolution">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.displayDimensions" placeholder="Display Dimensions">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.dimensions" placeholder="Dimensions">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.mainCamera" placeholder="Main Camera">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.frontalCamera" placeholder="Frontal Camera">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.battery" placeholder="Battery">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.price" placeholder="Price">
  </div>
  <div mat-dialog-content>
    <input matInput [(ngModel)]="data.inStock" placeholder="In Stock">
  </div>
 
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial class="button">
        {{data?.confirmText}}
    </button>
  </div>

</div>
