
<div class="container mt-5 inline">
    <div class="product-list">
        <div class="product-container" *ngFor="let record of orderDetails.products">
            <div class="product-image">
                <img [src]="'http://localhost:3001/static/' + record.name + '_front.webp'" class="image">
            </div>
            <div class="product-details">
             <h5 [routerLink]="['/products/'+record._id]" routerLinkActive="active"> {{record.name}} {{ record.OS }} {{record.RAM}} {{record.internalMemory}}</h5>
             <b>{{record.price}} Ron</b>
             <p>{{record.count}} buc</p>
            </div>
       
        </div>
    </div>
    <div class="order-detals">
        <B id="price">Order details</B>
        <br>
        <br>
        <p>Customer: {{orderDetails.clientName}}</p>
        <p>Phone Number: {{orderDetails.clientPhoneNumber}}</p>
        <p>Address: {{orderDetails.location.county}}, {{orderDetails.location.town}}, {{orderDetails.location.address}}</p>
        <div *ngIf="role != 'basic'">
            Status: <mat-form-field appearance="fill" class="mat-select-content">
                <mat-label ></mat-label>
                <mat-select (selectionChange)="statusOnChange($event.value)" [value]="orderStatus">
                  <mat-option *ngFor="let status of records" [value]="status">{{status}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <b>Total</b>
        <p id="price">{{this.totalPrice}} Ron</p>
    </div>
</div>