




img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.product-image {
    width: 120x;
    height: 120px;  
    display: inline-block;
    border: black; 
    border-style: solid; 
    

    
}

.product-details {
    border: yellow; 
    border-style: solid; 
    width: 350px;
    height: 120pxs;
    display: inline-block;
}

.product-price {
    border: yellow; 
    border-style: solid; 
    width: 100px;
    height: 120pxs;
    display: inline-block;
}


.product-container{
    width: 700px;
    height: 120px;
    border: violet;
    border-style: solid;
    display: flex
}


.product-list {

    border: blue; 
    border-style: solid;
    width: 800px;
    display: inline-block;
}

.order-detals {
    border: red; 
    border-style: solid;
    width: 300px;
    display: inline-block;
}

.inline {
    display: flex;
}

