




img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.product-image {
    width: 200x;
    height: 200px;  
    display: inline-block;
    border: black;
    border-style: solid;   
}

.product-details {
    width: 600px;
    height: 200pxs;
    display: inline-block;
    border: black;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    padding: 15px;
}

.product-container{
    width: 800px;
    height: 200px;
    margin-bottom: 5px;
    display: flex
}

.product-list {
    width: 800px;

}

.order-detals {
    border: black; 
    border-style: solid;
    width: 500px;
    height: 405px;
    display: inline-block;
    padding: 20px;
    margin-left: 10px;
}

.inline {
    display: flex;
}

#price{
    font-size: 20px;
}