
<div class="container mt-5 inline">
    <div class="product-list">
        <div class="product-container" *ngFor="let record of orderDetails.products">
            <div class="product-image">
                <img [src]="'http://localhost:3001/static/' + record.name + '_front.webp'" class="image">
            </div>
            <div class="product-details">
             <h5 [routerLink]="['/products/'+record._id]" routerLinkActive="active"> {{record.name}} {{ record.OS }} {{record.RAM}} {{record.internalMemory}}</h5>
             <b>{{record.price}} Ron</b>
             <p>{{record.count}} buc</p>
            </div>
       
        </div>
    </div>
    <div class="order-detals">
        <B id="price">Date facturare</B>
        <br>
        <br>
        <p>Destinatar: {{orderDetails.clientName}}</p>
        <p>Numar de telefon: {{orderDetails.clientPhoneNumber}}</p>
        <p>Adresa: {{orderDetails.location.county}}, {{orderDetails.location.town}},{{orderDetails.location.address}}</p>
        <b>Total</b>
        <p id="price">{{this.totalPrice}} Ron</p>
    </div>
</div>