
<div class="container mt-5 inline" *ngIf="records.length > 0">
    <div class="product-list">
        <div class="product-container" *ngFor="let record of records">
            <div class="product-image">
                <img [src]="'http://localhost:3001/static/' + record.name + '_front.webp'" class="image">
            </div>
            <div class="product-details">
                <h5 [routerLink]="['/products/'+record._id]" routerLinkActive="active">{{record.name}}, {{ record.OS }}, {{record.RAM}}, {{record.internalMemory}}</h5>
                <p *ngIf="record.inStock > 0">In stock {{record.inStock}}</p>
                <p *ngIf="record.inStock == 0">Sold out</p>
                <mat-form-field appearance="fill">
                    <mat-label>Choose an option</mat-label>
                    <mat-select (selectionChange)="onChange($event.value, record.name)" [value]="record.count">
                      <mat-option *ngFor="let i of createArray(record.inStock)" value={{i}}>{{i}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="inlinePrice">
                  <p id="price">{{record.count * record.price}} Ron</p>
                </div>      
            </div>
            <div class="header float addBorder ">
                <button mat-icon-button (click)="onclose(record.name)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
        
    <div class="shop">
      Address 
      <mat-form-field appearance="fill" class="mat-select-content">
        <mat-label *ngIf="!selectedLocation">No location selected</mat-label>
        <mat-label *ngIf="selectedLocation">{{selectedLocation.county}}</mat-label>
        <mat-select (selectionChange)="locationOnChange($event.value)" [value]="selectedLocation.county">
          <mat-option *ngFor="let location of locationRecords" [value]="location">{{location.county}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="inline">
        <input type="text" class="form-control inline" placeholder="County" [(ngModel)]="selectedLocation.county" readonly>
        <input type="text" class="form-control inline" placeholder="Town" [(ngModel)]="selectedLocation.town" readonly>
      </div>
      <input type="text" class="form-control inline" placeholder="Address" [(ngModel)]="selectedLocation.address" readonly>
      <br>
      Bank
      <mat-form-field appearance="fill" class="mat-select-content">
        <mat-label *ngIf="!selectedCard">no card selected</mat-label>
        <mat-label *ngIf="selectedCard">{{selectedCard.bank}}</mat-label>
        <mat-select (selectionChange)="cardOnChange($event.value)" [value]="selectedCard.bank" required>
          <mat-option *ngFor="let card of cardRecords" [value]="card" >{{card.bank}}</mat-option>
        </mat-select>
    </mat-form-field>
    <input type="text" class="form-control inline" placeholder="Card Name" [(ngModel)]="selectedCard.cardName" readonly>
    <div class="inline">
      <input type="text" class="form-control inline" placeholder="Security Code" [(ngModel)]="selectedCard.securityCode" readonly>
      <input type="text" class="form-control inline" placeholder="Expiration Date" [(ngModel)]="selectedCard.expirationDate" readonly>

    </div>
    <input type="text" class="form-control inline" placeholder="Card Number" [(ngModel)]="selectedCard.cardNumber" readonly>
    <br>
    <div class="inline">
      <p id="price">Total: {{this.totalPrice}} Ron</p>
      <button class="button" mat-raised-button color="primary" (click) ="createOrder()">Order</button>
    </div>

    <br>
    </div>
        
      </div>

      <div *ngIf="records.length == 0">
        <h2 class="center">Nu aveti produse in cos</h2>
      </div>